.page-header {
       background-color: #ff9400;
       margin-top: 0;
       padding: 20px 0px 20px 40px;
   }

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
       color: #D61C73;
       font-size: 36pt;
       text-decoration: none;
   }

.page-header h2, .page-header h2 a, .page-header h2 a:visited, .page-header h2 a:active {
          color: #D61C73;
          font-size: 28pt;
          padding-left: 20px;
          text-decoration: none;
   }

   .content {
       margin-left: 40px;
   }

   h1, h2, h3, h4 {
       font-family: 'Oswald', sans-serif;
       color: #D61C73;
   }
   .post {
  font-family: 'Cormorant Garamond', serif;
   }

   .post h1{
  font-family: 'Oswald', serif;
  color: #D61C73;
   }
